<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/Users/jared/Movies/Camtasia 2/Temporary Recordings/Rec 08-2-14 2.trec</key>
	<data>
	Ym9vawQDAAAAAAQQMAAAACYws+QJrhk5gVJKyYmLN4Dd159B/rA/mxc+C/KYf+gnDAIA
	AAUAAAABAQAAVXNlcnMAAAAFAAAAAQEAAGphcmVkAAAABgAAAAEBAABNb3ZpZXMAAAoA
	AAABAQAAQ2FtdGFzaWEgMgAAFAAAAAEBAABUZW1wb3JhcnkgUmVjb3JkaW5ncxIAAAAB
	AQAAUmVjIDA4LTItMTQgMi50cmVjAAAYAAAAAQYAAAQAAAAUAAAAJAAAADQAAABIAAAA
	ZAAAAAgAAAAEAwAAKRICAAAAAAAIAAAABAMAAJLABQAAAAAACAAAAAQDAAAowQUAAAAA
	AAgAAAAEAwAAulYVAAAAAAAIAAAABAMAAOZnYAIAAAAACAAAAAQDAAAF/LMDAAAAABgA
	AAABBgAAoAAAALAAAADAAAAA0AAAAOAAAADwAAAACAAAAAAEAABBuYyu4wAAABgAAAAB
	AgAAAQAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAQDAAAEAAAAAAAAAAQAAAADAwAA
	9QEAAAwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAcKJHdAAAAAgAAAAABAAAQbdT
	gCoAAAAkAAAAAQEAADE2RjFDM0Q5LTc2NTgtMzY0Ni05Q0FDLTlGMzE1ODFBN0ZENBgA
	AAABAgAAgQAAAAEACADvFwAAAQAIAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAAAE
	AAAAAwMAAAAIACjAAAAA/v///wEAAAAAAAAADwAAAAQQAACAAAAAAAAAAAUQAAAAAQAA
	AAAAABAQAAAwAQAAAAAAAEAQAAAgAQAAAAAAAAIgAADsAQAAAAAAABAgAABsAQAAAAAA
	ABEgAACgAQAAAAAAABIgAACAAQAAAAAAABMgAACQAQAAAAAAACAgAADMAQAAAAAAADAg
	AAD4AQAAAAAAAAHAAABQAQAAAAAAABHAAAAUAAAAAAAAABLAAABgAQAAAAAAABDQAAAA
	AgAAAAAAAA==
	</data>
</dict>
</plist>
